/** TOP BAR **/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html, body {
    font-family: Inter;
}


.topbar {
    background: var(--color-primary-900);
    height: 3rem;
    font-size: 0.8rem;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

.topbar .contact-info {
    color: #fff;
}

.topbar .contact-info a,
.topbar .contact-info span {
    padding-left: 5px;
    color: #fff;
}

.topbar .contact-info a {
    line-height: 0;
}

.topbar .contact-info a:hover {
    color: #fff;
    text-decoration: underline;
}

.topbar .social-links a {
    color: rgba(255, 255, 255, 0.7);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.topbar .social-links a:hover {
    color: #fff;
}

/** HEADER **/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.anchor {
    text-decoration: none;
    color: inherit;
    padding-top: 7rem; /*Height of header */
}

nav {
    background: white;
    border-bottom: 1px solid #ccc;
}

nav .navbar-nav{
    gap: 1rem;
}

nav .dropdown-menu-end {
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 50px);
}

nav .nav-item {
    display: flex;
    align-items: center;
}

nav .logo {
    height: 4rem;
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 10rem; /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: var(--color-primary-300);
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        z-index: 1;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
}

.offcanvas-collapse {
    flex-grow: inherit;
}

nav .nav-scroller .nav {
    color: rgba(255, 255, 255, .75);
}

nav .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

nav .nav-link {
    position: relative;
    font-size: 20px;
}

nav .dropdown-item {
    font-size: 1.2rem;
}

nav .nav-scroller .active {
    font-weight: 500;
    color: #343a40;
}

.bg-purple {
    background-color: #6f42c1;
}


main {
    position: sticky;
    top: 0;
}

/* Footer */
.footer {
    background: var(--bs-gray-200);
}