:root {
    --theme-primary: #131E3F;
    --theme-primary-100: #D3DFF5;
    --theme-primary-200: #A9BFEB;
    --theme-primary-300: #728BC5;
    --theme-primary-400: #42568B;
    --theme-primary-500: #131E3F;
    --theme-primary-600: #0D1636;
    --theme-primary-700: #09102D;
}