<div class="card" style="background: #f5f5f5">
    <div class="card-body">
        <h3 class="card-title">Get Quote</h3>
        <h6 class="card-subtitle mb-2 text-muted">Your Next Move Starts With a Quote</h6>
        <form class="quote-form needs-validation" action="mailto:<%= root.config.email%>" novalidate="" method="post" enctype="text/plain">

            <div class="mb-3">
                <label for="q-name" class="required">Name</label>
                <input type="text" class="form-control" id="q-name" name="name" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="mb-3">
                <label for="q-phone" class="required">Phone</label>
                <input type="text" class="form-control" id="q-phone" name="phone" required>
                <div class="invalid-feedback">
                    Please enter a valid phone number.
                </div>
            </div>

            <div class="mb-3">
                <label for="q-email" class="required">Email</label>
                <input type="email" class="form-control" id="q-email" name="email" placeholder="your@example.com" required>
                <div class="invalid-feedback">
                    Please enter a valid email address.
                </div>
            </div>

            <div class="mb-3">
                <label for="q-from-address" class="required">From Address</label>
                <textarea type="text" class="form-control" id="q-from-address" name="to-address" placeholder="1234 Main St" required=""></textarea>
                <div class="invalid-feedback">
                    Please enter From address.
                </div>
            </div>

            <div class="mb-3">
                <label for="q-to-address" class="required">To Address</label>
                <textarea type="text" class="form-control" id="q-to-address" name="to-address" placeholder="1234 Main St" required=""></textarea>
                <div class="invalid-feedback">
                    Please enter To address.
                </div>
            </div>

            <div class="mb-3">
                <label for="q-service">Type of service</label>
                <select class="form-select" id="q-service" name="service">
                    <option value="">Choose...</option>
                    <% root.config.services.forEach(function(item) {%>
                        <option><%= item.name%></option>
                    <% }) %>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
    </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        let forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                        form.classList.add('was-validated')
                    }
                }, false)
            })
    })()
</script>