<%
function formatPhoneNumber(phoneNumberString) {
    var cleaned = ('' + phoneNumberString).replace(/\D/g, '');
    var match = cleaned.match(/^(1|)?(\d{3})(\d{3})(\d{4})$/);
    if (match) {
        var intlCode = (match[1] ? '+1 ' : '');
        return [intlCode, '(', match[2], ') ', match[3], '-', match[4]].join('');
    }
    return null;
}
%>
<header>
    <nav class="navbar navbar-expand-lg" aria-label="Main navigation">
        <div class="container">
            <a class="navbar-brand" href="/#"><img
                        src="/assets/images/logo.png"
                        class="logo"></a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link <% if(page.navType == 'home'){ %>active<% } %>"
                           <% if(page.navType == 'home'){ %>aria-current="page"
                                <% } %>
                           href="/#">Home</a>
                    </li>
                    <li class="nav-item dropdown" id="service-toggle">
                        <a class="nav-link dropdown-toggle  <% if(page.navType == 'service'){ %>active<% } %>"
                           <% if(page.navType == 'service'){ %>aria-current="page"
                           <% } %> href="#" aria-expanded="false">Services</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <% root.config.services.forEach(function(item) {%>
                                <li><a class="dropdown-item" href="<%= item.link%>"><%= item.name%></a></li>
                            <% }) %>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-danger" href="tel:<%= root.config.phone %>">Call <%= formatPhoneNumber(root.config.phone) %></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
