:root {
    --color-primary: #03045e;
    --color-secondary: #ffb703;

    --color-primary-100: #C7C7F6;
    --color-primary-200: #A9BFEB;
    --color-primary-300: #728BC5;
    --color-primary-400: #2B2C9E;
    --color-primary-500: #03045e;
    --color-primary-700: #010243;
    --color-primary-800: #000136;
    --color-primary-900: #00002D;
}